@model NotePro.Models.NoteList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notizen Verwalten</h2>

<a asp-action="NewNote" asp-controller="Note" class="btn btn-success btn-lg"><i class="icon-ok"></i>Neue Notiz erstellen</a>
<a> @Html.ActionLink("Sortiere nach Erledigungsdatum", "ManageNotes", new { sortOrder = "sortDueDate" }, new { @class = "btn btn-success btn-lg" })</a>
<a> @Html.ActionLink("Sortiere nach Erstelldatum", "ManageNotes", new { sortOrder = "sortCreateDate" }, new { @class = "btn btn-success btn-lg" })</a>
<a> @Html.ActionLink("Sortiere nach Wichtigkeit", "ManageNotes", new { sortOrder = "sortImportance" }, new { @class = "btn btn-success btn-lg" })</a>
<a> @Html.ActionLink("Zeige erledigte", "ManageNotes", new { showFinished = @ViewBag.ShowFinished }, new {@class = "btn btn-success btn-lg" })</a>

<div>
    @foreach (var note in Model.GetList())
    {
        <div class="container">
            <form asp-action="Checkbox" asp-controller="Note" asp-route-id=@note.Id class="checkbox" method="post">
                <label><input type="checkbox" value=@note.Finished>@Html.DisplayNameFor(Model => Model.GetList().FirstOrDefault().Finished)</label>
            </form>

            @note.DueDate @note.Title @note.Importance <a asp-action="Edit" asp-controller="Note" asp-route-id=@note.Id class="btn btn-success btn-lg"><i class="icon-ok"></i>Edit</a>
        </div>
    }
</div>