@model NotePro.Models.Note

<h1>@ViewData["Title"]</h1>
<form asp-controller="Note" asp-action="SubmitNote" method="post">
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.FinishDate)
        @Html.HiddenFor(model => model.Finished)
        @Html.HiddenFor(model => model.Importance)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" rows="5" id="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Importance" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Importance" id="input-21d" value="1" type="number" class="rating" min=0 max=5 step=1 data-size="sm">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DueDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DueDate" id="DueDatePicker" type="text" class="form-control" readonly />
                <span asp-validation-for="DueDate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" style="margin-right: 10px" />
                <a href='javascript:history.go(-1)' class="btn btn-danger">Abbrechen</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#input-21d").on("rating.change", function (event, value, caption) {

                var ratingValue = $('#Importance').val();
                ratingValue = value;
                //alert(ratingValue);
            });
        });

        $('#DueDatePicker').datepicker({
            format: "dd.mm.yyyy",
            language: "de",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
    </script>
}
